name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-django pytest-cov flake8

      - name: Run flake8
        run: flake8

      - name: Run tests with coverage
        env:
          DJANGO_SETTINGS_MODULE: oc_lettings_site.settings
          SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          DEBUG: "True"
          ALLOWED_HOSTS: localhost,127.0.0.1
        run: |
          pytest --cov=. --cov-report=term-missing

    
  docker:
    needs: tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t thomasdpr/oc-lettings-prod:latest .

      - name: Push Docker image
        run: |
          docker push thomasdpr/oc-lettings-prod:latest
